.page_cover {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 7;
}
.header_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  z-index: 6;
  background-color: #ffffff;
  transition: all .3s ease;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.header_bar .menu_btn {
  width: 44px;
  height: 40px;
  background: url("../assets/menu.png") center center no-repeat;
  background-size: 24px;
}
.header_bar .header_title {
  flex: 1;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.header_bar .header_title .vue_logo {
  width: 40px;
  height: 40px;
  background: url("../assets/vue.png") center center no-repeat;
  background-size: 24px;
}
.header_bar a.publish_btn {
  color: #42b983;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  display: block;
}
